﻿@model ConverterKoppu.Models.Converter

<h2>@ViewData["Title"]</h2>
<div class="col-xs-12">
    <form asp-controller="Converter" asp-action="Convert" method="post" class="form-horizontal" role="form">

        <div class="form-group">
            <label asp-for="Zipcode" class="control-label"></label>
            <input asp-for="Zipcode" class="form-control" />
            <span asp-validation-for="Zipcode" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Temperature_F"></label>
            <input asp-for="Temperature_F" class="form-control" />
            <span asp-validation-for="Temperature_F" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Convert" class="btn btn-info" />
        </div>

    </form>
</div>

<h2>@ViewData["Result"]</h2>
<script>
    if(@ViewData["Value"] < 11){
        document.body.style.backgroundImage = "url(http://images.clipartof.com/Royalty-Free-RF-Clipart-Illustration-Of-A-Shivering-Winter-Toon-Guy-Hugging-Himself-To-Keep-Warm-102493476.jpg)"

    }
    else if (@ViewData["Value"] >=11 && @ViewData["Value"] <=25){
        document.body.style.backgroundImage = "url(http://theridgewoodblog.net/wp-content/uploads/2015/07/hot-sun-cooling1_Content.jpg)";
    }
    else{
        document.body.style.backgroundImage = "url(http://www.toptenpack.com/wp-content/uploads/2014/06/wallpaper-spring.jpg)";
    }
</script>
